@using ProjectSEM3.Models.Entities;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var admin = ViewBag.Admin as Hr.Res;
}

<h1 id="adminName">Wellcome Admintrator </h1>

@section Scripts {
    <script>
        if (window.performance && window.performance.navigation.type == window.performance.navigation.TYPE_BACK_FORWARD) {
            CheckLogin();
        }

        localStorage.setItem("admin", JSON.stringify(@Html.Raw(Json.Encode(admin))))

        var localAdmin = JSON.parse(localStorage.getItem("admin"))
        $("#adminName")[0].innerHTML += localAdmin.Name
    </script>
}
