@{
    ViewBag.Title = "Home";
}

@section Header {
    @Html.Partial("~/Areas/Admin/Views/Shared/Partials/_PartialHeader.cshtml")
}

@section LeftNavigator {
    @Html.Partial("~/Areas/Admin/Views/Shared/Partials/_PartialLeftNav.cshtml")
}
<h2>Admin Info</h2>