@{
    ViewBag.Title = "Home";
}

@section Header {
    @*@Html.Partial("~/Views/Shared/Partials/_PartialAdHeader.cshtml")*@
}

@section LeftNavigator {
    @Html.Partial("~/Areas/Admin/Views/Shared/Partials/_PartialLeftNav.cshtml")
}

<h2>Human Resource</h2>

@Html.Partial("~/Areas/Admin/Views/Shared/Partials/Hr/_PartialNew.cshtml")
@Html.Partial("~/Areas/Admin/Views/Shared/Partials/Hr/_PartialView.cshtml")

