@{
    ViewBag.Title = "Human Resource";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h1>Human Resource</h1>

    <div class="me-4">
        @Html.Partial("~/Areas/Admin/Views/Shared/Partials/Hr/_PartialNew.cshtml")
    </div>
    <div class="me-4">
        @Html.Partial("~/Areas/Admin/Views/Shared/Partials/Hr/_PartialView.cshtml")
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        const $name = $("#name")
        const $email = $("#emailNew")
        const $password = $("#passwordNew")
        const $confirmPassword = $("#confirmPassword")
        const $contact = $("#contact")
        const $education = $("#education")
        const $address = $("#address")
        const $experience = $("#experience")

        const $nameErr = $("#nameErr")
        const $emailErr = $("#emailErr")
        const $passwordErr = $("#passwordErr")
        const $confirmPasswordErr = $("#confirmPasswordErr")
        const $contactErr = $("#contactErr")
        const $educationErr = $("#educationErr")
        const $addressErr = $("#addressErr")
        const $experienceErr = $("#experienceErr")

        let checkName = false
        let checkEmail = false
        let checkPassword = false
        let checkConfirmPassword = false
        let checkContact = false
        let checkEducation = false
        let checkAddress = false
        let checkExperience = false

        const $nameUpdate = $("#nameUpdate")
        const $emailUpdate = $("#emailUpdate")
        const $contactUpdate = $("#contactUpdate")
        const $educationUpdate = $("#educationUpdate")
        const $addressUpdate = $("#addressUpdate")
        const $experienceUpdate = $("#experienceUpdate")

        const $nameView = $("#nameView")
        const $emailView = $("#emailView")
        const $contactView = $("#contactView")
        const $educationView = $("#educationView")
        const $addressView = $("#addressView")
        const $experienceView = $("#experienceView")

        const $hrTable = $("#hrTable")
        const $liveToast = $("#liveToast")
        const $toastMes = $("#toastMes")
        const $updateHr = $("#updateHr")
        const $newHr = $("#newHr")

        $hrTable.DataTable();

        const IsValidName = (name) => {
            var pattern = /^[A-Za-z\s]+$/;
            return pattern.test(name.trim());
        }

        const CheckName = () => {
            var name = $name.val().trim()
            if (name === '') {
                $nameErr[0].innerHTML = "*Please enter Hr Name."
            }
            else if (!IsValidName(name)) {
                $nameErr[0].innerHTML = "*Letter only."
            } else {
                $nameErr[0].innerHTML = ""
                checkName = true
            }
        }

        const CheckEmail = () => {
            var email = $email.val().trim()
            $.ajax({
                type: "POST",
                url: "/admin/hr/CheckEmail",
                data: { email },
                dataType: "json",
                success: function (res) {
                    $emailErr[0].innerHTML = res.Mes
                    checkEmail = res.IsSuccess
                },
                error: function (jqXHR, err, errorThrown) {
                }
            });
        }

        const IsValidPassword = (password) => {
            const pass = password.trim()
            if (pass == '') {
                return "*Please enter password."
            }

            if (pass.length < 9) {
                return "*Password too short."
            }

            var lowerCaseLetters = /[a-z]/g;
            var upperCaseLetters = /[A-Z]/g;
            var numbers = /[0-9]/g;

            if (!lowerCaseLetters.test(pass) ||
                !upperCaseLetters.test(pass) ||
                !numbers.test(pass)) {
                return "*Password have to contain numbers, lower/upper case letters."
            } 

            checkPassword = true
            return ""
        }

        const CheckPassword = () => {
            var password = $password.val().trim()
            $passwordErr[0].innerHTML = IsValidPassword(password)
        }

        const CheckConfirmPassword = () => {
            var password = $password.val().trim()
            var confirmPassword = $confirmPassword.val().trim()
            if (confirmPassword == '') {
                $confirmPasswordErr[0].innerHTML = "*Please enter confirm password."
            }
            else if (confirmPassword !== password) {
                $confirmPasswordErr[0].innerHTML = "*Wrong password."
            } else {
                $confirmPasswordErr[0].innerHTML = ""
                checkConfirmPassword = true
            }
        }

        const IsValidContact = (contact) => {
            const pattern = /^((\+)33|0)[1-9](\d{2}){4}$/;
            return pattern.test(contact.trim())
        };

        const CheckContact = () => {
            var contact = $contact.val().trim()
            if (contact === '') {
                $contactErr[0].innerHTML = "*Please enter Hr Contact."
            }else if (!IsValidContact(contact)) {
                $contactErr[0].innerHTML = "*Wrong format. Eg: 0325485695."
            } else {
                $contactErr[0].innerHTML = ""
                checkContact = true
            }
        }

        const CheckEducation = () => {
            var education = $education.val().trim()
            if (education === '') {
                $educationErr[0].innerHTML = "*Please enter Hr Education."
            } else {
                $educationErr[0].innerHTML = ""
                checkEducation = true
            }
        }
       
        const CheckAddress = () => {
            var address = $address.val().trim()
            if (address === '') {
                $addressErr[0].innerHTML = "*Please enter Hr Address."
            } else {
                $addressErr[0].innerHTML = ""
                checkAddress = true
            }
        }

        const CheckExperience = () => {
            var exp = $experience.val().trim()
            if (exp === '') {
                $experienceErr[0].innerHTML = "*Please enter Hr Experience."
            } else {
                $experienceErr[0].innerHTML = ""
                checkExperience = true
            }
        }

        const OnNewHr = () => {
            CheckName();
            CheckEmail();
            CheckPassword();
            CheckConfirmPassword();
            CheckContact();
            CheckEducation();
            CheckAddress();
            CheckExperience();
            console.log(checkName)
            console.log(checkEmail)
            console.log(checkPassword)
            console.log(checkConfirmPassword)
            console.log(checkContact)
            console.log(checkEducation)
            console.log(checkAddress)
            console.log(checkExperience)
            if (!checkName || !checkEmail || !checkPassword || checkConfirmPassword ||
                !checkContact || !checkEducation || !checkAddress || !checkExperience) {
                return
            }

            const Name = $name.val()
            const Email = $email.val()
            const Password = $password.val()
            const Contact = $contact.val()
            const Education = $education.val()
            const Address = $address.val()
            const Experience = $experience.val()

            const req = {
                Name,
                Email,
                Password,
                Contact,
                Education,
                Address,
                Experience
            }
            BlockUI()

            $.ajax({
                type: "POST",
                url: "/admin/hr/newhr",
                data: req,
                dataType: "json",
                success: function (res) {
                    UnBlockUI()
                    OnSetupToast(res, $liveToast, $toastMes)
                    if (res.IsSuccess) {
                        location.reload()
                    }
                },
                error: function (jqXHR, err, errorThrown) {
                    UnBlockUI()
                    OnServerErr($liveToast, $toastMes);
                }
            });
        }

        const OnChangeHrStatus = (e) => {
            RowIndex = e.target.parentElement.parentElement.rowIndex
            const Id = e.target.getAttribute('data-index')
            const data = JSON.parse(e.target.getAttribute('data-hr'))
            const Status = !data.Status
            const hr = { Id, Status }
            BlockUI()

            $.ajax({
                type: "POST",
                url: "/admin/hr/ChangeHrStatus",
                data: hr,
                dataType: "json",
                success: function (res) {
                    UnBlockUI()
                    OnSetupToast(res, $liveToast, $toastMes)
                    if (res.IsSuccess) {
                        e.target.setAttribute('data-hr', JSON.stringify(res.Data))
                        e.target.hidden = !res.Data.Status
                        $hrTable[0].rows[RowIndex].children[5].innerHTML = `<span class="badge bg-${res.Data.StatusType.BadgeCss}">${res.Data.StatusType.Name}</span>`;
                    }
                },
                error: function (jqXHR, err, errorThrown) {
                    UnBlockUI()
                    OnServerErr($liveToast, $toastMes);
                }
            });
        }

        let RowIndex = 0;
        let CurrentId = 0;
        let CurrentSelection = ''
        const OnSelectRowHr = (e) => {
            RowIndex = e.target.parentElement.parentElement.rowIndex
            CurrentSelection = e.target
            CurrentId = e.target.getAttribute('data-index')
            const data = JSON.parse(e.target.getAttribute('data-hr'))
            $nameUpdate.val(data.Name)
            $emailUpdate.val(data.Email)
            $contactUpdate.val(data.Contact)
            $educationUpdate.val(data.Education)
            $addressUpdate.val(data.Address)
            $experienceUpdate.val(data.Experience)
        }

        const OnUpdateHr = (e) => {
            const Id = CurrentId
            const Name = $nameUpdate.val()
            const Email = $emailUpdate.val()
            const Contact = $contactUpdate.val()
            const Education = $educationUpdate.val()
            const Address = $addressUpdate.val()
            const Experience = $experienceUpdate.val()

            const hr = {
                Id,
                Name,
                Email,
                Contact,
                Education,
                Address,
                Experience
            }
            const rowIndex = RowIndex
            BlockUI()

            $.ajax({
                type: "POST",
                url: "/admin/hr/UpdateHR",
                data: { hr, rowIndex },
                dataType: "json",
                success: function (res) {
                    UnBlockUI()
                    OnSetupToast(res, $liveToast, $toastMes)
                    if (res.IsSuccess) {
                        $hrTable[0].rows[RowIndex].children[1].innerHTML = res.Data.Name;
                        $hrTable[0].rows[RowIndex].children[2].innerHTML = res.Data.Email;
                        CurrentSelection.setAttribute('data-hr', JSON.stringify(res.Data))
                        CurrentSelection.parentElement.children[1].setAttribute('data-hr', JSON.stringify(res.Data))
                    }
                },
                error: function (jqXHR, err, errorThrown) {
                    UnBlockUI()
                    OnServerErr($liveToast, $toastMes);
                }
            });
        }

        const OnViewHr = (e) => {
            const data = JSON.parse(e.target.getAttribute('data-hr'))
            $nameView[0].innerHTML = data.Name
            $emailView[0].innerHTML = data.Email
            $contactView[0].innerHTML = data.Contact
            $educationView[0].innerHTML = data.Education
            $addressView[0].innerHTML = data.Address
            $experienceView[0].innerHTML = data.Experience
        }

        $updateHr[0].addEventListener('hidden.bs.modal', function (event) {
            OnClearFormUpdateHr();
        })

        $newHr[0].addEventListener('hidden.bs.modal', function (event) {
            OnClearFormNewHr();
        })

        $newHr[0].addEventListener('show.bs.modal', function (event) {
            OnClearFormNewHr();
        })

        const OnClearFormUpdateHr = () => {
            $nameUpdate.val("")
            $emailUpdate.val("")
            $contactUpdate.val("")
            $educationUpdate.val("")
            $addressUpdate.val("")
            $experienceUpdate.val("")
        }

        const OnClearFormNewHr = () => {
            $name.val("")
            $email.val("")
            $password.val("")
            $confirmPassword.val("")
            $contact.val("")
            $education.val("")
            $address.val("")
            $experience.val("")

            $nameErr[0].innerHTML = ""
            $emailErr[0].innerHTML = ""
            $passwordErr[0].innerHTML = ""
            $confirmPasswordErr[0].innerHTML = ""
            $educationErr[0].innerHTML = ""
            $contactErr[0].innerHTML = ""
            $addressErr[0].innerHTML = ""
            $experienceErr[0].innerHTML = ""
        }
    </script>
}

