@using ProjectSEM3.Models.Entities;

@{
    var levels = ViewBag.Levels as List<Level.Res>;
}

<div id="updateJob" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Job</h4>
                <i class="fa-solid fa-rectangle-xmark fa-2x pointer" data-bs-dismiss="modal"></i>
            </div>

            <div class="modal-body">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <div class="m-1">
                                <span><b>Title</b> <i style="color:red">*</i></span>
                                <input class="form-control p-1" id="titleUpdate" type="text" placeholder="eg: " />
                                <span id="titleUpdateErr" style="color:red;font-size:12px;position:absolute"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="m-1">
                                <span><b>Location</b> <i style="color:red">*</i></span>
                                <input class="form-control p-1" id="locationUpdate" type="text" placeholder="eg: " />
                                <span id="locationUpdateErr" style="color:red;font-size:12px;position:absolute"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <div class="m-1">
                                <span><b>End Date</b> <i style="color:red">*</i></span>
                                <input class="form-control p-1" id="endDateUpdate" type="date" placeholder="eg: " />
                                <span id="endDateUpdateErr" style="color:red;font-size:12px;position:absolute"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="m-1">
                                <span><b>Min Salary</b> <i style="color:red">*</i></span>
                                <input class="form-control p-1" id="salaryMinUpdate" type="number" placeholder="eg: " />
                                <span id="minSalUpdateErr" style="color:red;font-size:12px;position:absolute"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="m-1">
                                <span><b>Max Salary</b> <i style="color:red">*</i></span>
                                <input class="form-control p-1" id="salaryMaxUpdate" type="number" placeholder="eg: " />
                                <span id="maxSalUpdateErr" style="color:red;font-size:12px;position:absolute"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <span><b>Level</b> <i style="color:red">*</i></span>
                            <select class="form-select" id="levelUpdate">
                                <option value="0" selected hidden>Level</option>
                                @foreach (var item in levels)
                                {
                                    <option class="pointer" value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <span id="levelUpdateErr" style="color:red;font-size:12px;position:absolute"></span>
                        </div>
                    </div>

                    <div class="m-1">
                        <span><b>Content</b> <i style="color:red">*</i></span>
                        <input class="form-control p-1" id="contentUpdate" type="text" placeholder="eg:  " />
                        <span id="contentUpdateErr" style="color:red;font-size:12px;position:absolute"></span>
                    </div>

                    <div class="m-3">
                        <span><b>Qualification</b> <i style="color:red">*</i></span>
                        <input class="form-control p-1" id="qualificationUpdate" type="text" placeholder="eg:  Qualification" />
                        <span id="qualificationUpdateErr" style="color:red;font-size:12px;position:absolute"></span>
                    </div>

                    <div class="m-2">
                        <button class="main-btn secondary-btn-outline btn-sm float-end" type="button" onclick="OnUpdateJob()">Submit</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
