@using ProjectSEM3.Models.Entities;

@{
    var levels = ViewBag.Levels as List<Level.Res>;
}


<i class="fa-solid fa-square-plus pointer fa-3x float-end mb-3" data-bs-toggle="modal" data-bs-target="#newHr"></i>

<div id="newHr" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New</h4>
                <i class="fa-solid fa-rectangle-xmark fa-2x pointer" data-bs-dismiss="modal"></i>
            </div>

            <div class="modal-body">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <div class="m-1">
                                <span><b>Title</b> <i style="color:red">*</i></span>
                                <input class="form-control p-1" id="title" type="text" placeholder="eg: Title" />
                                <span id="titleErr" style="color:red;font-size:12px;position:absolute"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="m-1">
                                <span><b>Location</b> <i style="color:red">*</i></span>
                                <input class="form-control p-1" id="location" type="text" placeholder="eg: Location" />
                                <span id="locationErr" style="color:red;font-size:12px;position:absolute"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <div class="m-1">
                                <span><b>End Date</b> <i style="color:red">*</i></span>
                                <input class="form-control p-1" id="endDate" type="date" />
                                <span id="endDateErr" style="color:red;font-size:12px;position:absolute"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="m-1">
                                <span><b>Min Salary</b> <i style="color:red">*</i></span>
                                <input class="form-control p-1" id="salaryMin" type="number" min="0" value="0" step="100" />
                                <span id="minSalErr" style="color:red;font-size:12px;position:absolute"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="m-1">
                                <span><b>Max Salary</b> <i style="color:red">*</i></span>
                                <input class="form-control p-1" id="salaryMax" type="number" min="0" value="0" step="100" />
                                <span id="maxSalErr" style="color:red;font-size:12px;position:absolute"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <span><b>Level</b> <i style="color:red">*</i></span>
                            <select class="form-select" id="level">
                                <option value="0" selected hidden>Level</option>
                                @foreach (var item in levels)
                                {
                                    <option class="pointer" value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <span id="levelErr" style="color:red;font-size:12px;position:absolute"></span>
                        </div>
                    </div>

                    <div class="m-1">
                        <span><b>Content</b> <i style="color:red">*</i></span>
                        <input class="form-control p-1" id="content" type="text" placeholder="eg:  Content" />
                        <span id="contentErr" style="color:red;font-size:12px;position:absolute"></span>
                    </div>

                    <div class="m-1">
                        <span><b>Qualification</b> <i style="color:red">*</i></span>
                        <input class="form-control p-1" id="qualification" type="text" placeholder="eg:  Content" />
                        <span id="qualificationErr" style="color:red;font-size:12px;position:absolute"></span>
                    </div>

                    <div class="m-2">
                        <button class="main-btn secondary-btn-outline btn-sm float-end" type="button" onclick="OnNewJob()">Submit</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
