@{
    ViewBag.Title = "Type";
}

@section Header {
    @*@Html.Partial("~/Views/Shared/Partials/_PartialAdHeader.cshtml")*@
}

@section LeftNavigator {
    @Html.Partial("~/Area/Admin/Views/Shared/Partials/_PartialLeftNav.cshtml")
}
<h2>Type</h2>