@using ProjectSEM3.Models.Entities;

@{
    var data = ViewBag.PendingCv as List<CV.Res>;
}

@if (data == null || data.Count() <= 0)
{
    <h3>No records found.</h3>
}
else
{
    foreach (var item in data)
    {
        <li onclick="test(event)" class="pointer">
            @{ 
                var cvLink = "https://localhost:44376/admin/cv/view?id=" + item.Id;
            }
            <a href="@cvLink">
                <div class="content">
                    <h6>
                        @item.Name
                        <span class="text-regular">
                            Apply Cv at
                        </span>
                    </h6>
                    <p>@item.JobLink</p>
                    <span>10 mins ago</span>
                </div>
            </a>
        </li>
    }
}
