<div class="row">
    <div class="col-12">
        <div class="row">
            <span class="col-1"><b>A</b> <i style="color:red">*</i></span>
            <div class="form-check col-6 isCorrectAnswerWrap">
                <input class="form-check-input pointer isCorrectAnswer" name="isCorrectAnswer" id="" type="radio" value="">
                <label class="form-check-label pointer" for="isCorrectAnswer" onclick="OnIsCorrectTextClick(event)">
                    Is Correct Answer
                </label>
            </div>
        </div>
        <textarea class="form-control p-0 ckEditor" placeholder="" id="answerA" rows="3"></textarea>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12">
        <div class="row">
            <span class="col-1"><b>B</b> <i style="color:red">*</i></span>
            <div class="form-check col-6 isCorrectAnswerWrap">
                <input class="form-check-input pointer isCorrectAnswer" name="isCorrectAnswer" id="" type="radio" value="">
                <label class="form-check-label pointer" for="isCorrectAnswer" onclick="OnIsCorrectTextClick(event)">
                    Is Correct Answer
                </label>
            </div>
        </div>
        <textarea class="form-control p-0 ckEditor" placeholder="" id="answerB" rows="3"></textarea>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12">
        <div class="row">
            <span class="col-1"><b>C</b> <i style="color:red">*</i></span>
            <div class="form-check col-6 isCorrectAnswerWrap">
                <input class="form-check-input pointer isCorrectAnswer" name="isCorrectAnswer" id="" type="radio" value="">
                <label class="form-check-label pointer" for="isCorrectAnswer" onclick="OnIsCorrectTextClick(event)">
                    Is Correct Answer
                </label>
            </div>
        </div>
        <textarea class="form-control p-0 ckEditor" placeholder="" id="answerC" rows="3"></textarea>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12">
        <div class="row">
            <span class="col-1"><b>D</b> <i style="color:red">*</i></span>
            <div class="form-check col-6 isCorrectAnswerWrap">
                <input class="form-check-input pointer isCorrectAnswer" name="isCorrectAnswer" id="" type="radio" value="">
                <label class="form-check-label pointer" for="isCorrectAnswer" onclick="OnIsCorrectTextClick(event)">
                    Is Correct Answer
                </label>
            </div>
        </div>
        <textarea class="form-control p-0 ckEditor" placeholder="" id="answerD" rows="3"></textarea>
    </div>
</div>