<div class="row">
    <div class="col-5">
        <div>
            <label for="exampleFormControlTextarea1" class="form-label"><b>a/</b> <i style="color:red">*</i></label>
            <textarea class="form-control p-0 ckEditor questCross" rows="3"></textarea>
        </div>
        <div>
            <label for="exampleFormControlTextarea1" class="form-label"><b>b/</b> <i style="color:red">*</i></label>
            <textarea class="form-control p-0 ckEditor questCross" rows="3"></textarea>
        </div>
        <div>
            <label for="exampleFormControlTextarea1" class="form-label"><b>c/</b> <i style="color:red">*</i></label>
            <textarea class="form-control p-0 ckEditor questCross" rows="3"></textarea>
        </div>
        <div>
            <label for="exampleFormControlTextarea1" class="form-label"><b>d/</b> <i style="color:red">*</i></label>
            <textarea class="form-control p-0 ckEditor questCross" rows="3"></textarea>
        </div>
    </div>
    <div class="col-7">
        <div>
            <label for="exampleFormControlTextarea1" class="form-label"><b>1/</b> <i style="color:red">*</i></label>
            <textarea class="form-control p-0 ckEditor answerCross" rows="3"></textarea>
        </div>
        <div>
            <label for="exampleFormControlTextarea1" class="form-label"><b>2/</b> <i style="color:red">*</i></label>
            <textarea class="form-control p-0 ckEditor answerCross" rows="3"></textarea>
        </div>
        <div>
            <label for="exampleFormControlTextarea1" class="form-label"><b>3/</b> <i style="color:red">*</i></label>
            <textarea class="form-control p-0 ckEditor answerCross" rows="3"></textarea>
        </div>
        <div>
            <label for="exampleFormControlTextarea1" class="form-label"><b>4/</b> <i style="color:red">*</i></label>
            <textarea class="form-control p-0 ckEditor answerCross" rows="3"></textarea>
        </div>
    </div>
</div>


@*<div class="row">
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"><b>Question A</b> <i style="color:red">*</i></label>
        <textarea class="form-control p-0 ckEditor questCross" placeholder="" id="questCrossA" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"><b>a/</b> <i style="color:red">*</i></label>
        <textarea class="form-control p-0 ckEditor questCross" placeholder="" id="questCrossA" rows="3"></textarea>
    </div>
</div>
<hr />
<div class="row">
    <span class="col-1"><b>A</b> <i style="color:red">*</i></span>
    <textarea class="form-control p-0 ckEditor questCross" placeholder="" id="questCrossB" rows="3"></textarea>

    <span class="col-1"><b>A</b> <i style="color:red">*</i></span>
    <textarea class="form-control p-0 ckEditor answerCross" placeholder="" id="answerCrossB" rows="3"></textarea>
</div>
<hr />
<div class="row">
    <span class="col-1"><b>A</b> <i style="color:red">*</i></span>
    <textarea class="form-control p-0 ckEditor questCross" placeholder="" id="questCrossC" rows="3"></textarea>

    <span class="col-1"><b>A</b> <i style="color:red">*</i></span>
    <textarea class="form-control p-0 ckEditor answerCross" placeholder="" id="answerCrossC" rows="3"></textarea>
</div>
<hr />
<div class="row">
    <span class="col-1"><b>A</b> <i style="color:red">*</i></span>
    <textarea class="form-control p-0 ckEditor questCross" placeholder="" id="questCrossD" rows="3"></textarea>

    <span class="col-1"><b>A</b> <i style="color:red">*</i></span>
    <textarea class="form-control p-0 ckEditor answerCross" placeholder="" id="answerCrossD" rows="3"></textarea>
</div>*@