<div id="infoQuestion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Information</h4>
                <i class="fa-solid fa-rectangle-xmark fa-2x pointer" data-bs-dismiss="modal"></i>
            </div>

            <div class="modal-body">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 row">
                            <h4 class="col-4">Content</h4>
                            <span class="col-8" id="contentView">123</span>
                        </div>
                        <div class="col-12 row">
                            <h4 class="col-4">Level</h4>
                            <span class="col-8" id="levelView">123</span>
                        </div>
                        <div class="col-12 row">
                            <h4 class="col-4">Tyle</h4>
                            <span class="col-8" id="typeView">123</span>
                        </div>
                        <div class="col-12 row">
                            <h4 class="col-4">Is Multiselect</h4>
                            <span class="col-8" id="isMultiSelectView">123</span>
                        </div>
                        <div class="col-12 row">
                            <h4 class="col-4">Point</h4>
                            <span class="col-8" id="pointView">123</span>
                        </div>
                        <div class="col-12 row">
                            <h4 class="col-4">
                                A
                                <i class="fa-solid fa-check ms-2 isCorrectAnswerView" id="isCorrectAnswerAView" style="color:forestgreen" hidden></i>
                            </h4>

                            <span class="col-8 " id="answerAView">123</span>
                        </div>
                        <div class="col-12 row">
                            <h4 class="col-4">
                                B
                                <i class="fa-solid fa-check ms-2 isCorrectAnswerView" id="isCorrectAnswerBView" style="color:forestgreen" hidden></i>
                            </h4>
                            <span class="col-8 " id="answerBView">123</span>
                        </div>
                        <div class="col-12 row">
                            <h4 class="col-4">
                                C
                                <i class="fa-solid fa-check ms-2 isCorrectAnswerView" id="isCorrectAnswerCView" style="color:forestgreen" hidden></i>
                            </h4>
                            <span class="col-8 " id="answerCView">123</span>
                        </div>
                        <div class="col-12 row">
                            <h4 class="col-4">
                                D
                                <i class="fa-solid fa-check ms-2 isCorrectAnswerView" id="isCorrectAnswerDView" style="color:forestgreen" hidden></i>
                            </h4>
                            <span class="col-8 " id="answerDView">123</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
