@using ProjectSEM3.Models.Entities;

@{
    var types = ViewBag.Types as List<ProjectSEM3.Models.Entities.Type.Res>;
    var levels = ViewBag.Levels as List<Level.Res>;
}


<i class="fa-solid fa-square-plus pointer fa-3x float-end mb-3" data-bs-toggle="modal" data-bs-target="#newQuest"></i>

<div id="newQuest" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New</h4>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="col-12">
                    <div class="row">
                        <div class="col-3 m-1">
                            <span><b>Type</b> <i style="color:red">*</i></span>
                            <select class="form-select" id="type">
                                <option value="0" selected hidden>Type</option>
                                @foreach (var item in types)
                                {
                                    <option class="pointer" value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-3 m-1">
                            <span><b>Level</b> <i style="color:red">*</i></span>
                            <select class="form-select" id="level">
                                <option value="0" selected hidden>Type</option>
                                @foreach (var item in levels)
                                {
                                    <option class="pointer" value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-2 m-1">
                            <span><b>Point</b> <i style="color:red">*</i></span>
                            <select class="form-select" id="point">
                                <option value="0" selected hidden>Point</option>
                                <option class="pointer" value="1">1</option>
                                <option class="pointer" value="2">2</option>
                                <option class="pointer" value="3">3</option>
                                <option class="pointer" value="4">4</option>
                                <option class="pointer" value="5">5</option>
                            </select>
                        </div>
                        <div class="col-3 m-1">
                            <span><b>Is Multiselect</b> <i style="color:red">*</i></span>
                            <div class="form-check">
                                <input class="form-check-input pointer" type="checkbox" id="isMultiSelect" onclick="OnMultiSelected(event)">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <span><b>Content</b> <i style="color:red">*</i></span>
                            <textarea class="form-control p-0 ckEditor" placeholder="" name="isCorrectAnswer" id="content" rows="3"></textarea>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <span class="col-1"><b>A</b> <i style="color:red">*</i></span>
                                <div class="form-check col-6">
                                    <input class="form-check-input pointer isCorrectAnswer" name="isCorrectAnswer" id="" type="radio" value="">
                                    <label class="form-check-label pointer" for="isCorrectAnswer" onclick="OnIsCorrectTextClick(event)">
                                        Is Correct Answer
                                    </label>
                                </div>
                            </div>
                            <textarea class="form-control p-0 ckEditor" placeholder="" id="answerA" rows="3"></textarea>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <span class="col-1"><b>B</b> <i style="color:red">*</i></span>
                                <div class="form-check col-6">
                                    <input class="form-check-input pointer isCorrectAnswer" name="isCorrectAnswer" id="" type="radio" value="">
                                    <label class="form-check-label pointer" for="isCorrectAnswer" onclick="OnIsCorrectTextClick(event)">
                                        Is Correct Answer
                                    </label>
                                </div>
                            </div>
                            <textarea class="form-control p-0 ckEditor" placeholder="" id="answerB" rows="3"></textarea>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <span class="col-1"><b>C</b> <i style="color:red">*</i></span>
                                <div class="form-check col-6">
                                    <input class="form-check-input pointer isCorrectAnswer" name="isCorrectAnswer" id="" type="radio" value="">
                                    <label class="form-check-label pointer" for="isCorrectAnswer" onclick="OnIsCorrectTextClick(event)">
                                        Is Correct Answer
                                    </label>
                                </div>
                            </div>
                            <textarea class="form-control p-0 ckEditor" placeholder="" id="answerC" rows="3"></textarea>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <span class="col-1"><b>D</b> <i style="color:red">*</i></span>
                                <div class="form-check col-6">
                                    <input class="form-check-input pointer isCorrectAnswer" name="isCorrectAnswer" id="" type="radio" value="">
                                    <label class="form-check-label pointer" for="isCorrectAnswer" onclick="OnIsCorrectTextClick(event)">
                                        Is Correct Answer
                                    </label>
                                </div>
                            </div>
                            <textarea class="form-control p-0 ckEditor" placeholder="" id="answerD" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="m-2">
                        <button class="btn btn-outline-info float-end" type="button" onclick="NewQuestion()">Submit</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
