
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h1>CV</h1>

    <div class="me-4">
        @Html.Partial("~/Areas/Admin/Views/Shared/Partials/Cv/_PartialView.cshtml")
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        const $cvTable = $("#cvTable")
        $cvTable.DataTable();

        const OnChangeCvStatus = (e) => {
            RowIndex = e.target.parentElement.parentElement.rowIndex
            const Id = e.target.getAttribute('data-index')
            const data = JSON.parse(e.target.getAttribute('data-cv'))
            const Status = !data.Status
            const cv = { Id, Status }
            $.ajax({
                type: "POST",
                url: "/admin/cv/ChangeCvStatus",
                data: hr,
                dataType: "json",
                success: function (res) {
                    OnSetupToast(res, $liveToast, $toastMes)
                    e.target.setAttribute('data-hr', JSON.stringify(res.Data))
                    if (res.Data.Status) {
                        $cvTable[0].rows[RowIndex].children[3].innerHTML = `<span class="badge bg-success">Active</span>`;
                    } else {
                        $cvTable[0].rows[RowIndex].children[3].innerHTML = `<span class="badge bg-danger">Deleted</span>`;
                        e.target.hidden = true
                    }
                },
                error: function (jqXHR, err, errorThrown) {
                    OnServerErr($liveToast, $toastMes);
                }
            });

            setTimeout(OnHideToast, 3000)
        }
    </script>
}