<div id="newContest" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Contestant</h4>
                <i class="fa-solid fa-rectangle-xmark fa-2x pointer" data-bs-dismiss="modal"></i>
            </div>

            <div class="modal-body">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <div class="m-1">
                                <span><b>Name</b> <i style="color:red">*</i></span>
                                <input class="form-control p-1" id="name" type="text" placeholder="eg: Join Doe" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="m-1">
                                <span><b>Email</b> <i style="color:red">*</i></span>
                                <input class="form-control p-1" id="email" type="text" placeholder="eg: email@gmail.com" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="m-1">
                                <span><b>Contact</b> <i style="color:red">*</i></span>
                                <input class="form-control p-1" id="contact" type="text" placeholder="eg: 0377965901" />
                            </div>
                        </div>
                        <div class="col-6">
                            <span><b>Level</b></span>
                            <input class="form-control p-1" id="level" type="text" disabled/>
                            <input class="form-control p-1" id="levelId" type="text" hidden/>
                            <input class="form-control p-1" id="filePath" type="text" hidden/>
                        </div>
                    </div>

                    <div class="m-1">
                        <span><b>Address</b> <i style="color:red">*</i></span>
                        <input class="form-control p-1" id="address" type="text" placeholder="eg: 2 Gamon St, Seddon VIC 3011, Australia " />
                    </div>

                    @*<div class="row">
                        <div class="col-2">
                            <div class="m-1">
                                <span><b>Exam 1 </b></span>
                            </div>
                        </div>
                        @for (int i = 1; i <= 5; i++)
                        {
                            <div class="col-2">
                                <div class="m-1">
                                    <span><b>@i Point</b></span>
                                    <input class="form-control p-1" id="address" min="0" max="5" type="number" />
                                </div>
                            </div>
                        }
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <div class="m-1">
                                <span><b>Exam 2 </b></span>
                            </div>
                        </div>
                        @for (int i = 1; i <= 5; i++)
                        {
                            <div class="col-2">
                                <div class="m-1">
                                    <span><b>@i Point</b></span>
                                    <input class="form-control p-1" id="address" min="0" max="5" type="number" />
                                </div>
                            </div>
                        }
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <div class="m-1">
                                <span><b>Exam 3 </b></span>
                            </div>
                        </div>
                        @for (int i = 1; i <= 5; i++)
                        {
                            <div class="col-2">
                                <div class="m-1">
                                    <span><b>@i Point</b></span>
                                    <input class="form-control p-1" id="address" min="0" max="5" type="number" />
                                </div>
                            </div>
                        }
                    </div>*@

                    <div class="m-2">
                        <button class="main-btn secondary-btn-outline btn-sm float-end" type="button" onclick="OnNewContestant()">Submit</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
