<div id="infoCv" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Information</h4>
                <i class="fa-solid fa-rectangle-xmark fa-2x pointer" data-bs-dismiss="modal"></i>
            </div>

            <div class="modal-body">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 row">
                            <h4 class="col-4">Name</h4>
                            <span class="col-8" id="nameView">123</span>
                        </div>
                        <div class="col-12 row">
                            <h4 class="col-4">Email</h4>
                            <span class="col-8" id="emailView">123</span>
                        </div>
                        <div class="col-12 row">
                            <h4 class="col-4">Contact</h4>
                            <span class="col-8" id="contactView">123</span>
                        </div>
                        <div class="col-12 row">
                            <h4 class="col-4">Address</h4>
                            <span class="col-8" id="addressView">123</span>
                        </div>
                        <div class="col-12 row">
                            <h4 class="col-4">Education</h4>
                            <span class="col-8" id="educationView">123</span>
                        </div>
                        <div class="col-12 row">
                            <h4 class="col-4">Experience</h4>
                            <span class="col-8" id="experienceView">123</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
