@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <!-- Define countdown time -->
    var endTime = DateTime.UtcNow.AddSeconds(425);
    var timeRemaining = TimeSpan.FromTicks(endTime.Ticks - DateTime.UtcNow.Ticks).TotalSeconds.ToString("#");

    <!-- Get Question List -->
    var lst = ViewData["lstKnowledge"];
}

<div class="quiz-wrapper pt-5">
    <div class="container-fluid" style="z-index: 1">
        <div class="row text-center">
            <div id="jumper-btns" class="d-flex align-items-center justify-content-center mt-3">
            </div>
        </div>

        <div class="container">
            <div id="wizard">

            </div>
        </div>

        <div class="container text-center mt-5 mb-5">
            <div class="d-flex justify-content-evenly align-items-center section-wrapper">
                <div class="d-flex flex-column justify-content-center text-center">
                    <div>
                        <button type="button" class="btn" style="display: inline;">1</button>
                    </div>
                    <div class="mt-3">
                        <span style="color: #000a38; font-size: 1rem">General Knowledge</span>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-center text-center">
                    <div>
                        <button type="button" class="btn" style="display: inline;">2</button>
                    </div>
                    <div class="mt-3">
                        <span style="color: #000a38; font-size: 1rem">Mathematics</span>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-center text-center">
                    <div>
                        <button type="button" class="btn" style="display: inline;">3</button>
                    </div>
                    <div class="mt-3">
                        <span style="color: #000a38; font-size: 1rem">Computer Technology</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex text-center justify-content-center align-items-center timer-wrapper">
            <div>
                <span id="minRemaining"></span>
            </div>
            <div>
                <span>:</span>
            </div>
            <div>
                <span id="secRemaining"></span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    localStorage.removeItem("lstCheck")
    /*-----------------------------------
        Countdown
    -------------------------------------*/
    var remSeconds = @timeRemaining;
    var secCounter = remSeconds % 60;

    function formatNumber(number) {
        if (number < 10) return '0' + number;
        else return '' + number;
    }
    function startTick() {
            document.getElementById("secRemaining").innerText = formatNumber(secCounter);
            document.getElementById("minRemaining").innerText = formatNumber(parseInt(remSeconds / 60));

        var _tick = setInterval(function () {
            if (remSeconds > 0 && secCounter == 0) {
                remSeconds = remSeconds - 1;
                secCounter = 60 - 1;
                document.getElementById("secRemaining").innerText = formatNumber(secCounter);
                document.getElementById("minRemaining").innerText = formatNumber(parseInt(remSeconds / 60));
            }
            else if (remSeconds > 0 && secCounter != 0) {
                 remSeconds = remSeconds - 1;
                 secCounter = secCounter - 1;
                 document.getElementById("secRemaining").innerText = formatNumber(secCounter);
                 document.getElementById("minRemaining").innerText = formatNumber(parseInt(remSeconds / 60));
                 if (secCounter == 0)
                    secCounter = 60;
            }
            else {
                    alert('Times out!');
                    clearInterval(_tick);
                }
            }, 1000);
    }
    startTick();

    /*-----------------------------------
        Create json
    -------------------------------------*/
    var lstQuest = @Html.Raw(Json.Encode(lst));
    var data = lstQuest.Data;
    console.log(data)
    let lstTemp = [];
    for (var i = 0; i < data.length; i++) {
        var temp = { id: "", question: "", answer: [], IsMultiAnwser: false, type: "" };
        data[i].Options = JSON.parse(data[i].Options);
        data[i].CorrectAnwser = JSON.parse(data[i].CorrectAnwser);
        temp.id = data[i].Id;
        temp.question = data[i].Content;
        temp.IsMultiAnwser = data[i].IsMultiAnwser;
        temp.type = data[i].TypeId;
        lstTemp.push(temp);
    }
    console.log(data);
    //console.log(lstTemp);
    localStorage.setItem("lstCheck", JSON.stringify(lstTemp));
    /*-----------------------------------
        Handle Content
    -------------------------------------*/
    let container = document.getElementById("wizard");
    let jumper = document.getElementById("jumper-btns");
    let selectedAnswers = {};

    let question;
    let index;

    function jumpButtons() {
        let btns = ``;
        for (let i = 0; i < data.length; i++) {
            btns += `
                <div class="step bg-white ${i == index ? "finish" : ""} d-flex align-items-center justify-content-center" onclick="showQuestion(${i})" style="cursor: pointer">
                    <div class="d-flex align-items-center justify-content-center">${i + 1}</div>
                </div>
            `;
        }
        jumper.innerHTML = btns;
    };

    function showAnswer() {
        let options = ``;
        if (question.TypeId == 2) {
            let questCross = ``;
            let ansCross = ``;

            for (var k = 0; k < question.Options[0].length; k++) {
                let qCross = question.Options[0][k];
                questCross += `
                    <div class="rounded-pill bg-white text-end d-flex align-items-center" style="width: 100%; height: 3.5rem; margin-bottom: 1rem; padding: 0 1rem 0 9.5rem;">
                        <div style="margin-right: 1rem;">
                        ${qCross}
                        </div>
                         <input type="checkbox" onclick="addAnswer()" name="question-btn" value="${qCross}" style="margin-right: 0"/>
                    </div>
                `;
            }
            for (var l = 0; l < question.Options[1].length; l++) {
                let aCross = question.Options[1][l];
                ansCross += `
                    <div class="rounded-pill bg-white text-start d-flex align-items-center" style="width: 100%; height: 3.5rem; margin-bottom: 1rem; padding: 0 5rem 0 1.5rem;">
                         <input type="checkbox" onclick="addAnswer()" name="answer-btn" value="${aCross}"/>
                         <div>
                            ${aCross}
                         </div>
                    </div>
                `;
            }
            options += `
                <div class="d-flex align-items-center justify-content-between">
                    <div class="question-container d-flex flex-column">
                        ${questCross}
                    </div>
                    <div class="answer-container d-flex flex-column">
                        ${ansCross}
                    </div>
                </div>
            `;
        }
        else {
            for (var i = 0; i < question.Options.length; i++) {
                let option = question.Options[i];
                let selected = false;

                var a = JSON.parse(localStorage.getItem("lstCheck"));

                if (a[index].IsMultiAnwser == false) {
                    if (a[index].answer == option) {
                        selected = true;
                    }
                    options += `
                        <div class="answer-container rounded-pill bg-white text-start">
                                <input type="radio" onclick="addAnswer()" name="answer-btn" ${selected ? "checked = 'true'" : ""} value="${option}">${option}
                        </div>
                    `;
                }
                else {
                    for (var j = 0; j < a[index].answer.length; j++) {
                        if (a[index].answer[j] == option) {
                            selected = true;
                        }
                    }
                    options += `
                        <div class="answer-container rounded-pill bg-white text-start">
                                <input type="checkbox" onclick="addAnswer(${i})" name="answer-btn${i}" ${selected ? "checked = 'true'" : ""} value="${option}">${option}
                        </div>
                    `;
                }
            }
        }
        
        return options;
    };
    function addAnswer(b) {
        var a = JSON.parse(localStorage.getItem("lstCheck"));
        let currentOptions = document.getElementsByName("answer-btn");
        let currentOpt = document.getElementsByName(`answer-btn${b}`);

        if (a[index].TypeId === 2) {
            console.log(a[index]);
        }
        else {
            if (a[index].IsMultiAnwser == true) {
                if (a[index].answer.length == 0) {
                    a[index].answer.push(currentOpt[0].value);
                }
                else {
                    if (currentOpt[0].checked == true) {
                        for (var i = 0; i < a[index].answer.length; i++) {
                            if (a[index].answer[i] != currentOpt[0].value) {
                                a[index].answer.push(currentOpt[0].value);
                                break;
                            }
                        }
                    } else {
                        for (var i = 0; i < a[index].answer.length; i++) {
                            if (a[index].answer[i] == currentOpt[0].value) {
                                a[index].answer.splice(i, 1);
                            }
                        }
                    }

                }
            }
            else {
                for (var i = 0; i < currentOptions.length; i++) {
                    let currentOption = currentOptions[i];
                    if (currentOption.checked == true) {
                        a[index].answer.push(currentOption.value);
                    }
                    else {
                        a[index].answer.splice(i, 1);
                    }
                }

            }
        }

        localStorage.setItem("lstCheck", JSON.stringify(a));
    };
    function submitQuiz() {
        //var c = JSON.parse(localStorage.getItem("lstCheck"));
        //console.log(c);
        $.ajax({
            type: "POST",
            data: { result: localStorage.getItem("lstCheck") },
            dataType: "json",
            url: "/Quiz/SubmitKnowledge",
            success: function (result) {
                console.log(result);
                window.location.href = "https://localhost:44376/Quiz/Quiz_Math";
            },
            error: function (req, status, error) {
                console.log(error);
            }
        });
    };
    function showQuestion(i) {
        index = i;
        if (data[i]) {
            jumpButtons();
            question = data[i];
            let options = showAnswer();
            container.innerHTML = `
                <div id="questDisplay" class="multisteps_form_panel">
                    <span class="question_number text-uppercase d-flex justify-content-center align-items-center">
                        Question
                        <span id="question-number" class="d-flex justify-content-center ms-1" style="margin-top: 16px">${index + 1}</span>/${data.length}
                    </span>

                    <h1 class="question_title text-center">${question.Content} </h1>
                    <div class="form_items d-flex flex-column justify-content-center">
                        ${options}
                    </div>
                </div>

                <div class="form_btn action-btns text-center ms-5 mt-5">
                    ${index > 0 ? `<button type="button" onclick="showQuestion(${index - 1})" class="f_btn text-uppercase rounded-pill border-0" style="display: inline;">Prev Question</button>` : ""}
                    ${index + 1 < data.length ?
                    `<button type="button" onclick="showQuestion(${index + 1})" class="f_btn text-uppercase rounded-pill border-0">Next Question</button>`
                    :
                    `<button type="button" onclick="submitQuiz()" class="f_btn text-uppercase rounded-pill border-0">Submit</button>`}
                </div>
            `;
        }
    };

    showQuestion(0);

</script>



