
@{
    ViewBag.Title = "TestResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    @if (TempData["pageNotExist"] != null)
    {
        <div class="container d-flex flex-column align-items-center justify-content-center" style="height: 80vh;">
            <img src="https://localhost:44376/Content/img/icons/paper.png" alt="paper" style="width: 230px; height: 230px" />
            <h1 class="mt-3" style="color: rgb(50, 49, 48); font-weight: 600; font-size: 26px;">@TempData["pageNotExist"]</h1>
            <a href="https://localhost:44376/Home/Index">Go back to Home</a>
        </div>
    }
    else
    {
        <div class="container-fluid d-flex align-items-center justify-content-center" style="height: 80vh">
            <div class="exam-wrapper container d-flex flex-column align-items-center">
                <div class="d-flex flex-row align-items-center justify-content-center mb-3">
                    <h2 class="d-flex align-items-center m-0">Congratulation!</h2>
                </div>
                <div>
                    <span>
                        You've finished the quiz. Please check your email to know the result.
                    </span>
                </div>
                <div class="mt-3">
                    <a href="https://localhost:44376/Home/Index" class="btn text-white fw-600" style="width: 200px; background-color: rgb(92, 27, 134); border-radius: 3px;">Go Back To Home</a>
                </div>
            </div>
        </div>
    }
</main>

<script>
    localStorage.removeItem("data");
    localStorage.removeItem("contestant");
</script>