<div id="updateHr" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Hr</h4>
                <i class="fa-solid fa-rectangle-xmark fa-2x pointer" data-bs-dismiss="modal"></i>
            </div>

            <div class="modal-body">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <div class="m-2">
                                <span><b>Name</b> <i style="color:red">*</i></span>
                                <input class="form-control p-1" onblur="CheckNameUpdate()" id="nameUpdate" type="text" />
                                <span id="nameUpdateErr" style="color:red;font-size:12px;position:absolute"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="m-2">
                                <span><b>Email</b> <i style="color:red">*</i></span>
                                <input class="form-control p-1" onblur="CheckEmailUpdate()"  id="emailUpdate" type="text" />
                                <span id="emailUpdateErr" style="color:red;font-size:12px;position:absolute"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="m-2">
                                <span><b>Contact</b> <i style="color:red">*</i></span>
                                <input class="form-control p-1" onblur="CheckContactUpdate()" id="contactUpdate" type="text" />
                                <span id="contactUpdateErr" style="color:red;font-size:12px;position:absolute"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="m-2">
                                <span><b>Education</b> <i style="color:red">*</i></span>
                                <input class="form-control p-1" onblur="CheckEducationUpdate()" id="educationUpdate" type="text" />
                                <span id="educationUpdateErr" style="color:red;font-size:12px;position:absolute"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="m-2">
                            <span><b>Address</b> <i style="color:red">*</i></span>
                            <input class="form-control p-1" onblur="CheckAddressUpdate()" id="addressUpdate" type="text" />
                            <span id="addressUpdateErr" style="color:red;font-size:12px;position:absolute"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="m-2">
                            <span><b>Experience</b> <i style="color:red">*</i></span>
                            <textarea class="form-control p-1" onblur="CheckExperienceUpdate()" placeholder="" id="experienceUpdate" style="height: 100px"></textarea>
                            <span id="experienceUpdateErr" style="color:red;font-size:12px;position:absolute"></span>
                        </div>
                    </div>

                    <div class="m-2">
                        <button class="main-btn secondary-btn-outline btn-sm float-end" type="button" onclick="OnUpdateHr()">Update</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
