@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <section class="hero-section ds mb-5" style="margin: 0; padding: 0;"></section>

    <div class="divider-60 hidden-below-lg"></div>

    <section class="container-fluid mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3 text-center">
                    <h2 class="special-heading text-center">
                        <span class="text-capitalize">
                            welcome!
                        </span>
                    </h2>
                    <div class="divider-30"></div>
                    <a class="btn btn-primary text-white" href="#">get a quote</a>
                </div>
                <div class="col-12 col-lg-6 text-center">
                    <div class="divider-35 hidden-above-lg"></div>
                    <div class="divider--5"></div>
                    <p class="excerpt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                    </p>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum doloreu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit animest laborum sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                    </p>
                </div>
                <div class="col-12 col-lg-3 text-sm-left text-center">
                    <div class="divider-35 hidden-above-lg"></div>
                    <div class="signature">
                        <div class="signature-image">
                            <img src="~/Content/img/avatar.jpg" alt="">
                        </div>
                        <div class="signature-content">
                            <span>Phong Van</span>
                            <img src="~/Content/img/signature.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="d-flex container justify-content-center mb-5" style="margin-bottom: 50px">
        <div class="divider-line bg-maincolor" style="width: 50%;"></div>
    </div>
    <div class="divider-60 hidden-below-lg"></div>

    <section class="ls s-py-xl-160 text-sm-left text-center s-py-lg-130 s-py-md-90 s-py-60 c-gutter-60 mt-5">
        <div class="divider-90 hidden-below-lg" style="height: 90px;"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <h2 class="special-heading text-sm-left text-center">
                        <span class="text-capitalize">
                            Our Achievements
                        </span>
                    </h2>
                    <div class="divider-line bg-maincolor text-sm-left text-center"></div>
                    <div class="fw-divider-space divider-30"></div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                    </p>
                    <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
                    </p>
                    <div class="divider-50 hidden-below-lg"></div>
                    <div class="divider-30 hidden-above-lg"></div>
                    <a class="btn btn-primary text-white" href="#">know more</a>
                    <div class="divider-60 hidden-below-lg"></div>
                    <div class="divider-30 hidden-above-lg"></div>
                    <div class="d-flex flex-row justify-content-evenly about-img-carousel">
                        <img src="~/Content/img/01.jpg" />
                        <img src="~/Content/img/02.jpg" />
                        <img src="~/Content/img/03.jpg" />
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="divider-30 hidden-above-lg"></div>
                    <div class="about-img-side">
                        <img src="~/Content/img/04.jpg" />
                    </div>
                </div>

                <div class="divider-90 hidden-below-lg" style="height: 20px;"></div>
            </div>
        </div>
    </section>
</main>
