@{
    ViewBag.Title = "Home Page";
}

<main>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Welcome to <span>PVsOilGas</span></h1>
                    <h2>We unlock potential by reaching for the impossible and achieving it.</h2>

                    <div class="btns">
                        <a href="https://localhost:44376/Home/About" class="btn-menu animated fadeInUp scrollto">About Us</a>
                        <a href="https://localhost:44376/Home/Career" class="btn-book animated fadeInUp scrollto">Career</a>
                    </div>
                </div>
                <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
                    <a href="https://www.youtube.com/watch?v=RJl9pRtEYoU" class="glightbox play-btn"></a>
                </div>

            </div>
        </div>
    </section><!-- End Hero -->
    <!-- service block-->
    <div class="container">
        <div class="index-wrapper">
            <div class="space-small">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="section-title">
                            <!-- section title-->
                            <span class="small-title">Your Service Is Here</span>
                            <h2>Heading For Services</h2>
                        </div>
                        <!-- /.section title-->
                    </div>
                </div>
                <div class="row">
                    <!-- service -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="service-block">
                            <div class="service-img"><a href="#" class="imghover"><img src="~/Content/img/01.jpg" alt="" class="img-responsive"></a></div>
                            <div class="service-content">
                                <h3><a href="#">Startup Assistance</a></h3>
                                <p>Pellentsed sollicitudin leonon saliquamse ipsumenean suada sapien etae vulputate.</p>
                                <a href="#" class="btn-link" style="text-decoration: none; color: #f0332d; text-transform: uppercase; font-weight: 700; padding: 10px 30px; letter-spacing: 1.4px">view Details</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.service -->
                    <!-- service -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="service-block">
                            <div class="service-img"><a href="#" class="imghover"> <img src="~/Content/img/02.jpg" alt="" class="img-responsive"></a></div>
                            <div class="service-content">
                                <h3><a href="#">Upgrade &amp; Retrofits</a></h3>
                                <p>Nam euerat aelit lacinia auctor in aooed molliseu elitvitae pulvinar ullam vestibulum ferme.</p>
                                <a href="#" class="btn-link" style="text-decoration: none; color: #f0332d; text-transform: uppercase; font-weight: 700; padding: 10px 30px; letter-spacing: 1.4px">view Details</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.service -->
                    <!-- service -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="service-block">
                            <div class="service-img"><a href="#" class="imghover"><img src="~/Content/img/03.jpg" alt="" class="img-responsive"></a></div>
                            <div class="service-content">
                                <h3><a href="#">Maintenance</a></h3>
                                <p> Aenean vehicula econguese serpretium orciat pulvinar ipsum amcongue efficitur lorem. </p>
                                <a href="#" class="btn-link" style="text-decoration: none; color: #f0332d; text-transform: uppercase; font-weight: 700; padding: 10px 30px; letter-spacing: 1.4px">view Details</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.service -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.service-block -->
    <!-- about -->
    <div class="container">
        <div class="about-section">
            <div class="space-small">
                <div class="d-flex align-items-center justify-content-center row">
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                        <div class="section-title">
                            <!-- section title-->
                            <span class="small-title">About us</span>
                            <p class="lead">This is oil &amp; gas industrial website, This lead text for about us content. tristique estid rhoncus ipsum commodo etorbi hendreuis sagittis.</p>
                        </div>
                        <!-- /.section title-->
                    </div>
                </div>
                <div class="row">
                    <!-- feature -->
                    <div class="d-flex align-items-center justify-content-center col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="feature-block">
                            <div class="feature-content">
                                <h3>Quality Management</h3>
                                <p>Donec eufelis velfelis posuere mattis autese mauuie sedauctor lacus uisque varius risid feugiat molestroin.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.feature -->
                    <!-- feature -->
                    <div class="d-flex align-items-center justify-content-center col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="feature-block">
                            <div class="feature-content">
                                <h3>Health &amp; Safety</h3>
                                <p>Eufelis velfelis posuere mattis autmaus uisque sedauctor lacus uisque varius risus idesese feugiat molestroin.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.feature -->
                    <!-- feature -->
                    <div class="d-flex align-items-center justify-content-centercol-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="feature-block">
                            <div class="feature-content">
                                <h3>Environment Management</h3>
                                <p>Yelis velfelis posuere mattis a utese mauuisque sedauctor lacus uisqueius risus idgince molestroin.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.feature -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.about -->
    <!-- project block-->
    <div class="container">
        <div class="index-wrapper">
            <div class="space-small">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="section-title">
                            <!-- section title-->
                            <span class="small-title">Recently Projects</span>
                            <h2>Recent Operation Work</h2>
                        </div>
                        <!-- /.section title-->
                    </div>
                </div>
                <div class="row">
                    <!-- project -->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="project-block">
                            <div class="project-img d-flex align-items-center justify-content-center"><a href="#" class="imghover"><img src="~/Content/img/03.jpg" alt="" class="img-responsive"></a></div>
                            <div class="project-content d-flex flex-column align-items-center justify-content-center">
                                <h3><a href="#">Project Heading Name </a></h3>
                                <span class="small-title">(Ahmedabad)</span>
                                <p>Pellentesque tincidunt feugiat molestie. Inharcu vulputate in nunc ornare pellentesque ultricies eratiam velurna vitae massa molestie sollicituum.</p>
                                <a href="#" class="btn btn-primary text-white" style="border: 1px solid #f0332d; background-color: #f0332d; text-transform: uppercase; font-weight: 700; padding: 10px 30px; letter-spacing: 1.4px">view Details</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.project -->
                    <!-- project -->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="project-block">
                            <div class="project-img d-flex align-items-center justify-content-center"><a href="#" class="imghover"><img src="~/Content/img/01.jpg" alt="" class="img-responsive"></a></div>
                            <div class="project-content d-flex flex-column align-items-center justify-content-center">
                                <h3><a href="#">Project Heading Name</a> </h3>
                                <span class="small-title">(jamnagar)</span>
                                <p>Molestie sollici ellentesque tincidunt feugiat molestie. Inharcu vulputate in nunc ornare pellentesque ultricies eratiam velurna vitae massa.</p>
                                <a href="#" class="btn btn-primary text-white" style="border: 1px solid #f0332d; background-color: #f0332d; text-transform: uppercase; font-weight: 700; padding: 10px 30px; letter-spacing: 1.4px">view Details</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.project -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.project-block -->
    <!-- locations -->
    <div class="container">
        <div class="index-wrapper">
            <div class="space-small">
                <div class="d-flex align-items-center justify-content-center row">
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                        <div class="section-title">
                            <!-- section title-->
                            <span class="small-title">Our Located Offices</span>
                            <h2>Business location</h2>
                        </div>
                        <!-- /.section title-->
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center row">
                    <!-- location -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="location-block">
                            <div class="location-content">
                                <div class="location-icon"><img src="~/Content/images/map-marker.png" alt=""></div>
                                <h4><a href="#">Ahemedabad</a></h4>
                                <p>21 Scenic way mindale, Ahmedabad, india 62319</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.location -->
                    <!-- location -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="location-block">
                            <div class="location-content">
                                <div class="location-icon"><img src="~/Content/images/map-marker.png" alt=""></div>
                                <h4><a href="#">Baroda</a></h4>
                                <p>81 Frleive Ahemedabad Gujarat, india 605</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.location -->
                    <!-- location -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="location-block">
                            <div class="location-content">
                                <div class="location-icon"><img src="~/Content/images/map-marker.png" alt=""></div>
                                <h4><a href="#">Bharuch</a></h4>
                                <p>285 Kildre Juntion City, Bharuch, india 4748</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.location -->
                    <!-- location -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="location-block">
                            <div class="location-content">
                                <div class="location-icon"><img src="~/Content/images/map-marker.png" alt=""></div>
                                <h4><a href="#">Jamnagar</a></h4>
                                <p>
                                    293 Dola Mine Road
                                    Jamnagar, india 604
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /.location -->

                </div>
            </div>
        </div>
    </div>
    <!-- /.locations -->
</main>