
<div class="modal fade" id="applyJob" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" style="color: #5c1b86; font-weight: 600;">Apply Job</h3>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" action="/Career/UploadCV" method="post">
                    @*---------- Name + Email ----------*@
                    <div class="row c-mb-10 c-gutter-10">
                        <div class="col-lg-6" style="padding: 0rem .5rem 0rem 0rem">
                            <div class="form-group has-placeholder">
                                <label for="contName">Full Name <span class="required">*</span></label>
                                <input type="text" aria-required="true" size="30" value="" name="contName" id="contName" class="form-control" placeholder="Full Name">
                            </div>
                        </div>
                        <div class="col-lg-6" style="padding: 0rem 0rem 0rem .5rem">
                            <div class="form-group has-placeholder">
                                <label for="contEmail">Email address<span class="required">*</span></label>
                                <input type="email" aria-required="true" size="30" value="" name="contEmail" id="contEmail" class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </div>

                    @*---------- Phone ----------*@
                    <div class="row c-mb-10 c-gutter-10">
                        <div class="col-sm-12" style="padding: 0">
                            <div class="form-group has-placeholder">
                                <label for="contPhone">Phone Number <span class="required">*</span></label>
                                <input type="text" aria-required="true" size="30" value="" name="contPhone" id="contPhone" class="form-control" placeholder="Phone Number">
                            </div>
                        </div>
                    </div>
                    @*---------- Attachment ----------*@
                    <div class="row c-mb-10 c-gutter-10">
                        <div class="col-sm-12" style="padding: 0">
                            <div class="addFileWrapper">
                                <h2>
                                    <button id="headerButton" class="btn headerButton" type="button" data-bs-toggle="collapse" data-bs-target="#btnAddFileWrapper" aria-expanded="false" aria-controls="btnAddFileWrapper">
                                        <div class="attachmentTitleContainer">
                                            Attachment
                                            <div class="requiredTextContainer">*</div>
                                        </div>
                                        <div class="headerSpacer"></div>
                                        <div>
                                            <i id="iconChevron" class="fa fa-chevron-down iconChevron"></i>
                                        </div>
                                    </button>
                                </h2>
                                <div class="collapse multi-collapse" id="btnAddFileWrapper">
                                    <div class="d-flex flex-column">
                                        <span class="mb-3" style="padding: 0rem; font-size: 10px">*File must be .pdf extension and less than 5Mb</span>
                                        <div>
                                            @*<div style="width: 100px; height: 5px; background-color: #0d6efd; border-radius: 3px;">

                                                </div>*@
                                            <span id="cvFileName"></span>

                                        </div>
                                    </div>

                                    <button id="addFileContainer" class="btn addFileContainer mt-3" type="button" style="padding: 0rem">
                                        <input id="cvInput" class="form-control profileAttachmentUploadFileInputStyle" type="file" name="cv" />
                                        <i class="fa-light fa-plus me-2"></i>
                                        Add a file
                                    </button>
                                    <span id="notiInput" style="padding: 0rem; font-size: 10px"></span>
                                    <input id="resultInput" hidden />
                                </div>
                            </div>
                        </div>

                    </div>

                    <input id="jobId" value="" name="jobId" hidden />
                    @*---------- Apply Button ----------*@
                    <div class="row c-mb-10 c-gutter-10 mt-3">
                        <div class="col-sm-12 mb-0 mt-lg-50 mt-30" style="padding: 0">
                            <div class="form-group">
                                <input id="applyBtn" class="apply-job-btn btn text-white" type="submit" value="Apply">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
</script>
