
@{
    ViewBag.Title = "ApplySuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid d-flex align-items-center justify-content-center" style="height: 80vh">
        <div class="exam-wrapper container d-flex flex-column align-items-center">
            <img src="https://localhost:44376/Content/img/icons/message.png" alt="paper" style="width: 150px; height: 150px" />
            <div class="d-flex flex-row align-items-center justify-content-center mb-3 mt-3">
                <h3 class="d-flex align-items-center m-0">Thank you</h3>
            </div>
            <div class="d-flex flex-column align-items-center">
                <span style="font-size: 14px">
                    Thank you for applying to this job. We will inform you to proceed next step, please notice your email from next 1-3 days!
                </span>
                <div class="d-flex align-items-center justify-content-center">
                    <a href="https://localhost:44376/Home/Index" style="color: #5c1b86">Go back to Home</a>
                </div>
            </div>
        </div>
    </div>
</main>


