@{
    ViewBag.Title = "Career";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    @*---------- Hero Section ----------*@
    <section class="hero-section ds" style="margin: 0; padding: 0;">
        <img src="~/Content/img/careerbg.png" />
    </section>

    <div class="fw-divider-space divider-60"></div>

    <section class="ls container-xl" style="border-radius: 20px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-xl-7 ls" style="border-top-left-radius: 20px; border-bottom-left-radius: 20px">
                    <div class="special-column">
                        <div class="fw-divider-space divider-xl-160 divider-lg-130 divider-md-90 divider-60"></div>
                        <h2 class="special-heading text-left">
                            <span class="text-capitalize">
                                Drop Us A Line
                            </span>
                        </h2>
                        <div class="divider-line bg-maincolor"></div>
                        <div class="fw-divider-space divider-25"></div>
                        <p class="special-heading text-left">
                            <span>
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non.
                            </span>
                        </p>
                        <div class="divider-50 hidden-below-lg"></div>
                        <div class="divider-30 hidden-above-lg"></div>
                        <form enctype="multipart/form-data" action="https://localhost:44376/Career/UploadCV" method="post">
                            @*---------- Job ----------*@
                            <div class="row c-mb-10 c-gutter-10">
                                <div class="col-lg-6" style="padding: 0rem .5rem 0rem 0rem">
                                    <div class="form-group">
                                        <label for="position" style="color: #09445a">Available Job <span class="required" style="color: #dd4454">*</span></label>
                                        <select class="form-select" id="job" name="job">
                                            <option value="1">Fresher Software Engineering</option>
                                            <option value="2">Junior Software Engineering</option>
                                            <option value="3">Senior Software Engineering</option>
                                            <option value="4">Leader</option>
                                            <option value="5">Project Manager</option>
                                            <option value="6">Tech Lead</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            @*---------- Name + Email ----------*@
                            <div class="row c-mb-10 c-gutter-10">
                                <div class="col-lg-6" style="padding: 0rem .5rem 0rem 0rem">
                                    <div class="form-group has-placeholder">
                                        <label for="contName">Full Name <span class="required">*</span></label>
                                        <input type="text" aria-required="true" size="30" value="" name="contName" id="contName" class="form-control" placeholder="Full Name">
                                    </div>
                                </div>
                                <div class="col-lg-6" style="padding: 0rem 0rem 0rem .5rem">
                                    <div class="form-group has-placeholder">
                                        <label for="contEmail">Email address<span class="required">*</span></label>
                                        <input type="email" aria-required="true" size="30" value="" name="contEmail" id="contEmail" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div>

                            @*---------- Phone ----------*@
                            <div class="row c-mb-10 c-gutter-10">
                                <div class="col-sm-12" style="padding: 0">
                                    <div class="form-group has-placeholder">
                                        <label for="contPhone">Phone Number <span class="required">*</span></label>
                                        <input type="text" aria-required="true" size="30" value="" name="contPhone" id="contPhone" class="form-control" placeholder="Phone Number">
                                    </div>
                                </div>
                            </div>
                            @*<div class="row c-mb-10 c-gutter-10">
                                    <div class="col-sm-12" style="padding: 0">
                                        <div class="form-group has-placeholder">
                                            <label for="message335553">Message</label>
                                            <textarea aria-required="true" rows="8" cols="45" name="message" id="message335553" class="form-control" placeholder="Your Message"></textarea>
                                        </div>
                                    </div>
                                </div>*@
                            @*---------- Attachment ----------*@
                            <div class="row c-mb-10 c-gutter-10">
                                <div class="col-sm-12" style="padding: 0">
                                    <div class="addFileWrapper">
                                        <h2>
                                            <button id="headerButton" class="btn headerButton" type="button" data-bs-toggle="collapse" data-bs-target="#btnAddFileWrapper" aria-expanded="false" aria-controls="btnAddFileWrapper">
                                                <div class="attachmentTitleContainer">
                                                    Attachment
                                                    <div class="requiredTextContainer">*</div>
                                                </div>
                                                <div class="headerSpacer"></div>
                                                <div>
                                                    <i id="iconChevron" class="fa fa-chevron-down iconChevron"></i>
                                                </div>
                                            </button>
                                        </h2>
                                        <div class="collapse multi-collapse" id="btnAddFileWrapper">
                                            <div class="d-flex flex-column">
                                                <span class="mb-3" style="padding: 0rem; font-size: 10px">*File must be .pdf extension and less than 5Mb</span>
                                                <div>
                                                    @*<div style="width: 100px; height: 5px; background-color: #0d6efd; border-radius: 3px;">

                                                    </div>*@
                                                    <span id="cvFileName"></span>

                                                </div>
                                            </div>

                                            <button id="addFileContainer" class="btn addFileContainer mt-3" type="button" style="padding: 0rem">
                                                <input id="cvInput" class="form-control profileAttachmentUploadFileInputStyle" type="file" name="cv" />
                                                <i class="fa-light fa-plus me-2"></i>
                                                Add a file
                                            </button>
                                            <span id="notiInput" style="padding: 0rem; font-size: 10px"></span>
                                            <input id="resultInput" hidden />
                                        </div>
                                    </div>
                                </div>

                            </div>

                            @*---------- Apply Button ----------*@
                            <div class="row c-mb-10 c-gutter-10 mt-3">
                                <div class="col-sm-12 mb-0 mt-lg-50 mt-30" style="padding: 0">
                                    <div class="form-group">
                                        <input id="applyBtn" class="btn text-white" type="submit" value="Apply" style="background-color: #09445a">
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="fw-divider-space divider-xl-160 divider-lg-130 divider-md-90 divider-60"></div>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-5 text-sm-left text-center ls ms animate animated scaleAppear" data-animation="scaleAppear" style="border-top-right-radius: 20px; border-bottom-right-radius: 20px">
                    <div class="special-column2">
                        <div class="fw-divider-space divider-xl-160 divider-lg-130 divider-md-90 divider-60"></div>
                        <div class="media text-center text-sm-left">
                            <div class="icon-styled fs-60 color-main">
                                <i class="ico ico-location"></i>
                            </div>
                            <div class="media-body">
                                <h6 style="font-size: 20px">
                                    Our Address
                                </h6>
                                <p class="">457 Elk City Road, Gerome, IN<br> 576 Terry Lane, Orlando, FL</p>
                            </div>
                        </div>
                        <div class="divider-50 hidden-below-lg"></div>
                        <div class="divider-30 hidden-above-lg"></div>
                        <div class="divider-line bg-maincolor text-center"></div>
                        <div class="divider-60 hidden-below-lg"></div>
                        <div class="divider-30 hidden-above-lg"></div>
                        <div class="media text-center text-sm-left">
                            <div class="media-body">
                                <h6 style="font-size: 20px">
                                    Our Number
                                </h6>
                                <p class="">+1 (803) 321-281-9307<br> +1 (803) 407-558-1101</p>
                            </div>
                        </div>
                        <div class="divider-50 hidden-below-lg"></div>
                        <div class="divider-30 hidden-above-lg"></div>
                        <div class="divider-line bg-maincolor text-center"></div>
                        <div class="divider-60 hidden-below-lg"></div>
                        <div class="divider-30 hidden-above-lg"></div>
                        <div class="media text-center text-sm-left">
                            <div class="media-body">
                                <h6 style="font-size: 20px">
                                    Our Email
                                </h6>
                                <p class="">pvsoilgas@example.com<br> pvsoilgas@sales.com</p>
                            </div>
                        </div>
                        <div class="divider-50 hidden-below-lg"></div>
                        <div class="divider-30 hidden-above-lg"></div>
                        <div class="divider-line bg-maincolor text-center"></div>
                        <div class="divider-60 hidden-below-lg"></div>
                        <div class="divider-30 hidden-above-lg"></div>
                        <div class="fw-divider-space divider-xl-160 divider-lg-130 divider-md-90 divider-60"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<div style="margin-bottom: 60px;"></div>

@section scripts{
    <script>
        var headerBtn = document.getElementById("headerButton");
        var icon = document.getElementById('iconChevron');

        var btnUpload = document.getElementById("addFileContainer");
        var cv = document.getElementById("cvInput");
        var result = document.getElementById('resultInput');
        var noti = document.getElementById('notiInput');

        var job = document.getElementById("job");
        var contName = document.getElementById("contName");
        var contEmail = document.getElementById("contEmail");
        var contPhone = document.getElementById("contPhone");
        var formData = new FormData();
        var submitBtn = document.getElementById("applyBtn");

        var cvName = document.getElementById("cvFileName");
        /*-----------------------------------
            Prevent image upload & restrict file's size
        -------------------------------------*/
        cv.addEventListener("change", e => {
            const file = cv.files[0];
            const type = cv.files[0].type.substring(12);
            noti.innerHTML = "";
            noti.innerHTML = "";
            cvName.innerHTML = "";

            if (type.localeCompare("pdf") === 0 && file.size < 5000 * 1024) {
                result.value = 'rightType';
                cvName.innerHTML = `
                        <table class="table table-borderless m-0 p-0">
                            <tr>
                                <td>
                                    <img src="https://localhost:44376/Content/img/icons/file.png" style="height: 20px; width: 20px; margin-right: .5rem; color: black"/>
                                    ${cv.files[0].name}
                                </td>
                                <td>
                                    <button type="button" onclick="deleteFileRow()" class="btn" style="background-color: transparent; border: none; color: rgb(92, 27, 134)">
                                        <img src="https://localhost:44376/Content/img/icons/bin.png" style="width: 14px; height: 14px;"/>
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </table>
                    `;
            }
            else {
                result.value = 'falseType';
                if (type.localeCompare("pdf") !== 0) {
                    noti.innerHTML = 'File must be .pdf extension';
                    noti.style.color = "rgb(92, 27, 134)";
                }
                if (file.size > 5000 * 1024) {
                    noti.innerHTML = 'File exceeds 5Mb';
                    noti.style.color = "red";
                }
            }
        })

        /*-----------------------------------
            Open upload file dialog
        -------------------------------------*/
        btnUpload.addEventListener("click", () => {
            cv.click();
        });

        /*-----------------------------------
            Change chevron icon
        -------------------------------------*/
        headerBtn.addEventListener("click", () => {
            if (headerBtn.getAttribute("aria-expanded") === "true") {
                icon.classList.remove("fa-chevron-down");
                icon.classList.add("fa-chevron-up");
            }
            if (headerBtn.getAttribute("aria-expanded") === "false") {
                icon.classList.remove("fa-chevron-up");
                icon.classList.add("fa-chevron-down");
            }
        });

        /*-----------------------------------
            Delete File Row
        -------------------------------------*/
        function deleteFileRow() {
            cvName.innerHTML = "";
        }
        deleteFileRow();

    </script>

}

