@{
    ViewBag.Title = "Career";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lstCountries = ViewData["lstCountries"];
}
<main>
    @*---------- Hero Section ----------*@
    <section class="job-hero-section ds" style="margin: 0; padding: 0;"></section>

    <div class="fw-divider-space divider-60"></div>

    @*-----------------------------------
            Banner Section
        -------------------------------------*@
    <div class="career-banner-wrapper container">
        @*---------- Banner Heading ----------*@
        <div class="career-banner-outer mb-5">
            <h1 class="career-banner-heading">Welcome</h1>
            <div class="career-banner-content">
                <p>Create the future you want</p>
            </div>
        </div>

        @*---------- Search Heading ----------*@
        <form action="/career/search" method="post" class="searchHeadingWrapper d-flex align-items-center">
            <div class="col-lg-4 col-md-12 col-sm-12 mt-2">
                <div class="d-flex align-items-center">
                    <div class="d-flex form-group has-placeholder col-12">
                        <div class="d-flex" style="position: absolute; margin-left: .4rem; margin-top: 1.1rem;">
                            <i class="fa fa-search" style="width: 24px; height: 24px;"></i>
                        </div>
                        <input type="text" aria-required="true" size="30" value="" name="input" id="" class="form-control" placeholder="Search by job title or key word" style="border-radius: 2px">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 col-sm-12 mt-2">
                <div class="d-flex align-items-center">
                    <div class="d-flex form-group has-placeholder col-12">
                        <select id="selCountries" name="lstCountries" placeholder="City, state, or country" data-search="true" data-silent-initial-value-set="true">
                            <option selected disabled>City, state, or country</option>
                            @foreach (var item in lstCountries as List<ProjectSEM3.Models.Entities.Country>)
                            {
                                <option>@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 mt-2">
                <div class="d-flex align-items-center col-12">
                    <button class="btn searchBtn" type="submit">Find Job</button>
                </div>
            </div>
        </form>

    </div>

    @*---------- Content ----------*@

    <div class="d-flex" style="padding: 0 3rem">
        <h1>Life at PVsOilGas</h1>
    </div>

    <div class="container-fluid d-flex flex-column align-items-center" style="padding: 0 3rem">

        <div class="d-flex align-items-center justify-content-center row">
            <div class="d-flex align-items-center justify-content-center col-lg-3 col-md-6 col-sm-12 mb-3">
                <div class="card" style="width: 30rem;">
                    <img src="https://localhost:44376/Content/img/career/career1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn text-white" style="background-color: #5c1d86">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center col-lg-3 col-md-6 col-sm-12 mb-3">
                <div class="card" style="width: 30rem;">
                    <img src="https://localhost:44376/Content/img/career/career2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn text-white" style="background-color: #5c1d86">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center col-lg-3 col-md-6 col-sm-12 mb-3">
                <div class="card" style="width: 30rem;">
                    <img src="https://localhost:44376/Content/img/career/career3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn text-white"  style="background-color: #5c1d86">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center col-lg-3 col-md-6 col-sm-12 mb-3">
                <div class="card" style="width: 30rem;">
                    <img src="https://localhost:44376/Content/img/career/career4.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn text-white" style="background-color: #5c1d86">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<div style="margin-bottom: 60px;"></div>

<link href="~/Content/virtual-select.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/virtual-select.min.js"></script>
<script>
    VirtualSelect.init({
        ele: '#selCountries'
    });
</script>
