@{
    ViewBag.Title = "Career";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    @*---------- Hero Section ----------*@
    <section class="hero-section ds" style="margin: 0; padding: 0;"></section>

    <div class="fw-divider-space divider-60"></div>

    @*---------- Banner ----------*@
    <div class="career-banner-wrapper container">
        <div class="career-banner-outer mb-5">
            <h1 class="career-banner-heading">Welcome</h1>
            <div class="career-banner-content">
                <p>Create the future you want</p>
            </div>
        </div>

        <div id="job-search-wrapper mt-3" class="c-mb-10 c-gutter-10">
            <div class="d-flex align-items-center">
                <div class="d-flex form-group has-placeholder col-lg-6">
                    <div class="d-flex" style="position: absolute; margin-left: .4rem; margin-top: 1.1rem;">
                        <i class="fa fa-search" style="width: 24px; height: 24px;"></i>
                    </div>
                    <input type="text" aria-required="true" size="30" value="" name="" id="" class="form-control" placeholder="Search by job title or key word">
                </div>
                <div class="col-lg-6" style="margin-left: 1.5rem;">
                    <button class="btn searchBtn" type="button" style="height: 50px;">Search</button>
                </div>
            </div>
        </div>
    </div>

    @*---------- Content ----------*@

    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-center row">
            <div class="col-lgcol-lg-3 col-md-6 mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div style="margin-bottom: 60px;"></div>

@section scripts{
    <script>


    </script>
}
