<main>
    <h1 style="font-weight: 700; font-size: 26px; margin-bottom: 16px; margin-top: 0px; color: rgb(0, 0, 0);" id="title"></h1>
    <div class="d-flex align-content-center" style="margin-bottom: 24px;">
        <p style="margin: 0px; font-weight: 400; font-size: 16px; padding-top: 2px; color: black" id="location"></p>
    </div>
    <div class="d-flex align-items-center" style="height: auto; padding-bottom: 20px;">
        <div class="d-flex align-items-center">
            <div class="d-flex align-items-center" style="width: 100%;">
                <div class="d-flex align-items-center">
                    <button type="button" class="apply-job-btn btn text-white me-5" aria-label="Apply" data-is-focusable="true">
                        <span class="d-flex align-items-center justify-content-center">
                            <span id="applyJobBtn" class="fw-600">Apply</span>
                        </span>
                    </button>
                    <div class="d-flex align-items-center" style="height: auto; cursor: pointer;">
                        <div title="Save" class="d-flex align-items-center" data-is-focusable="true" style="background-color: transparent; border-color: transparent; cursor: pointer;">
                            <img src="https://localhost:44376/Content/img/icons/save.png" style="width: 30px; height: 30px" />
                        </div>
                        <p style="margin: 0px 0px 0px 6px; font-size: 16px; padding-top: 3px; color: black">Save</p>
                    </div>
                </div>
            </div>
        </div>
        <label></label>
    </div>

    <div class="d-flex flex-column" style="padding: 0">
        <div class="d-flex align-items-center col-12" style="width: 100%;">
            <div class="d-flex align-items-center col-6">
                <div class="d-flex align-items-center" style="padding-top: 9px; padding-bottom: 9px; padding-right: 9px; word-break: break-word;">
                    <div class="d-flex align-items-center" style="font-weight: 400; font-size: 14px; color: rgb(96, 94, 92); padding-right: 9px;">Date posted</div>
                    <div id="datePosted" class="d-flex align-items-center" style="font-weight: 600; font-size: 14px; color: rgb(23, 23, 23);"></div>
                </div>
            </div>
            <div class="d-flex align-items-center col-6">
                <div class="d-flex align-items-center" style="padding-top: 9px; padding-bottom: 9px; padding-right: 9px; word-break: break-word;">
                    <div class="d-flex align-items-center" style="font-weight: 400; font-size: 14px; color: rgb(96, 94, 92); padding-right: 9px;">Profession</div>
                    <div class="d-flex align-items-center" style="font-weight: 600; font-size: 14px; color: rgb(23, 23, 23);">Software Engineering</div>
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center col-12" style="width: 100%;">
            <div class="d-flex align-items-center col-6">
                <div class="d-flex align-items-center" style="padding-top: 9px; padding-bottom: 9px; padding-right: 9px; word-break: break-word;">
                    <div class="d-flex align-items-center" style="font-weight: 400; font-size: 14px; color: rgb(96, 94, 92); padding-right: 9px;">Work site</div>
                    <div class="d-flex align-items-center" style="font-weight: 600; font-size: 14px; color: rgb(23, 23, 23);">Up to 50% work from home</div>
                </div>
            </div>
            <div class="d-flex align-items-center col-6">
                <div class="d-flex align-items-center" style="padding-top: 9px; padding-bottom: 9px; padding-right: 9px; word-break: break-word;">
                    <div class="d-flex align-items-center" style="font-weight: 400; font-size: 14px; color: rgb(96, 94, 92); padding-right: 9px;">Employment type</div>
                    <div class="d-flex align-items-center" style="font-weight: 600; font-size: 14px; color: rgb(23, 23, 23);">Full-Time</div>
                </div>
            </div>
        </div>
    </div>

    <hr class="horizontalLine" />

    <div class="d-flex">
        <div class="d-flex flex-column col-8">
            <div class="overview-wrapper" id="overView">
                
            </div>
        </div>
        <div class="qualification-wrapper d-flex flex-column col-4 ms-2" style="padding: 16px;" id="qualifications">
            
        </div>
    </div>

    <div class="d-flex flex-column" style="font-size: 14px">
        <p class="mt-5">Benefits/perks listed below may vary depending on the nature of your employment with Microsoft and the country where you work.</p>
        <div class="d-flex flex-column">
            <div class="d-flex align-items-center col-12">
                <div class="d-flex align-items-center col-6">
                    <img src="https://localhost:44376/Content/img/icons/healthcare.png" class="me-3" style="width: 13px; height: 13px" />
                    <span>Industry leading healthcare</span>
                </div>
                <div class="d-flex align-items-center col-6">
                    <img src="https://localhost:44376/Content/img/icons/mortarboard.png" class="me-3" style="width: 13px; height: 13px" />
                    <span>Educational resources</span>
                </div>

            </div>
            <div class="d-flex align-items-center col-12">
                <div class="d-flex align-items-center col-6">
                    <img src="https://localhost:44376/Content/img/icons/price-tag.png" class="me-3" style="width: 13px; height: 13px" />
                    <span>Discounts on products and services</span>
                </div>
                <div class="d-flex align-items-center col-6">
                    <img src="https://localhost:44376/Content/img/icons/money.png" class="me-3" style="width: 13px; height: 13px" />
                    <span>Savings and investments</span>
                </div>
            </div>
            <div class="d-flex align-items-center col-12">
                <div class="d-flex align-items-center col-6">
                    <img src="https://localhost:44376/Content/img/icons/profile.png" class="me-3" style="width: 13px; height: 13px" />
                    <span>Maternity and paternity leave</span>
                </div>
                <div class="d-flex align-items-center col-6">
                    <img src="https://localhost:44376/Content/img/icons/calendar.png" class="me-3" style="width: 13px; height: 13px" />
                    <span>Generous time away</span>
                </div>
            </div>
            <div class="d-flex align-items-center col-12">
                <div class="d-flex align-items-center col-6">
                    <img src="https://localhost:44376/Content/img/icons/heart.png" class="me-3" style="width: 13px; height: 13px" />
                    <span>Giving programs</span>
                </div>
                <div class="d-flex align-items-center col-6">
                    <img src="https://localhost:44376/Content/img/icons/networking.png" class="me-3" style="width: 13px; height: 13px" />
                    <span>Opportunities to network and connect</span>
                </div>
            </div>

        </div>
    </div>

    <hr class="horizontalLine" />

    <div>
        <p style="font-size: 11px">Microsoft is an equal opportunity employer. All qualified applicants will receive consideration for employment without regard to age, ancestry, citizenship, color, family or medical care leave, gender identity or expression, genetic information, immigration status, marital status, medical condition, national origin, physical or mental disability, political affiliation, protected veteran or military status, race, ethnicity, religion, sex (including pregnancy), sexual orientation, or any other characteristic protected by applicable local laws, regulations and ordinances. If you need assistance and/or a reasonable accommodation due to a disability during the application process, read more about requesting accommodations.</p>
    </div>

    <div class="mt-3">
        <button type="button" class="apply-job-btn btn text-white me-5" aria-label="Apply" data-is-focusable="true">
            <span class="d-flex align-items-center justify-content-center">
                <span id="applyJobBtn" class="fw-600">Apply</span>
            </span>
        </button>
    </div>
</main>


@section scripts {
    <script>
        const data = JSON.parse(localStorage.getItem("currentJob"))
        console.log(data)
    </script>
}