
@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    @*-----------------------------------
                Hero Section
        -------------------------------------*@
    <section class="job-hero-section ds"></section>

    @*-----------------------------------
               Banner Section
        -------------------------------------*@
    <div class="job-search-wrapper container-fluid d-flex align-items-center justify-content-center">
        <div class="searchControllerContainer container d-flex flex-column justify-content-center">
            @*-----------------------------------
                    Search Section
                -------------------------------------*@
            <div class="search-section d-flex">
                @*----- Search box -----*@
                <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
                    <div class="d-flex align-items-center">
                        <div class="d-flex form-group has-placeholder col-12">
                            <div class="d-flex" style="position: absolute; margin-left: .4rem; margin-top: 1.1rem;">
                                <i class="fa fa-search" style="width: 24px; height: 24px;"></i>
                            </div>
                            <input type="text" aria-required="true" size="30" value="" name="" id="" class="form-control" placeholder="Search by job title or key word">
                        </div>
                    </div>
                </div>
                @*----- Search location -----*@
                <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
                    <div class="d-flex align-items-center">
                        <div class="d-flex form-group has-placeholder col-12">
                            <select id="selCountries" name="lstCountries" multiple placeholder="City, state, or country" data-search="true" data-silent-initial-value-set="true" style="padding: 0">
                                @*@foreach (var item in genres as List<RESTFULDemo.Models.genre>)
                                    {*@
                                <option>Viet Nam</option>
                                @*  *@}
                            </select>
                        </div>
                    </div>
                </div>
                @*----- Search Button -----*@
                <div class="col-lg-4 col-md-2 col-sm-12 mt-2">
                    <div class="d-flex align-items-center">
                        <button class="btn searchBtn" type="button">Search</button>
                    </div>
                </div>
            </div>
            @*-----------------------------------
                    Filter Section
                -------------------------------------*@
            <div class="filter-section container d-flex">
                <div id="filter-wrapper" class="filter-wrapper">
                    <div class="filter-container d-flex align-items-center justify-content-center">
                        <div class="d-flex align-items-center col-lg-6 col-md-6 col-sm-12 mb-2">
                            <label class="m-0">Experience</label>
                            <select class="form-select ms-2">
                                <option>Students and Graduated</option>
                                <option>Students and Graduated</option>
                            </select>
                        </div>
                        <div class="d-flex align-items-center col-lg-6 col-md-6 col-sm-12 mb-2">
                            <label class="m-0">Profession</label>
                            <select class="form-select ms-2">
                                <option>Software Engineering</option>
                                <option>Project Manager</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @*-----------------------------------
               Content Section
        -------------------------------------*@
    <div class="container-fluid d-flex" style="margin-top: 3rem; padding: 0 5rem;">
        <div class="jobs-list-wrapper d-flex flex-column align-items-center col-lg-5 col-md-12 col-sm-12 me-5">
            @*----- Heading -----*@
            <div id="jobListHeadingWrapper" class="jobListHeadingWrapper col-12">
                <div class="jobListHeadingContainer">
                    <div class="d-flex align-items-center">
                        <h1 style="font-size: 18px; font-weight: 400">Showing 1-10 of 50 results</h1>
                    </div>
                    <div class="sort-wrapper d-flex align-items-center">
                        <div class="d-flex align-items-center">Sort</div>
                        <div>
                            <select class="form-select">
                                <option>Most Relevant</option>
                                <option>Most Recent</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            @*----- Jobs List -----*@
            <div id="jobListWrapper" class="jobListWrapper col-12">
                <div class="jobListContainer d-flex flex-column align-items-center" onscroll="scroll()">

                    <div class="listItem d-flex">
                        <div class="jobDetailHeading d-flex flex-column">
                            <div class="d-flex">
                                <div style="position: absolute; right: 0; margin-top: 2%; margin-right: 3%; color: rgb(92, 27, 134); z-index: 1;">
                                    <img src="https://localhost:44376/Content/img/icons/save.png" style="width: 1.5rem; height: 1.5rem;" />
                                </div>
                                <h2 class="listItemHeading">Principal Software Engineer</h2>
                            </div>

                            <div class="listItemHeadingIcon d-flex">
                                <div class="d-flex flex-row">
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-clock-four" style="color: rgb(100, 100, 100); height: 14px; width: 14px;"></i>
                                        <span style="font-weight: 400; font-size: 14px; font-style: normal; color: rgb(23, 23, 23); margin-left: 5px;">Today</span>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-location" style="color: rgb(100, 100, 100); height: 14px; width: 14px;"></i>
                                        <span style="font-weight: 400; font-size: 14px; font-style: normal; color: rgb(23, 23, 23); margin-left: 5px;">Washington, United States</span>
                                    </div>
                                </div>
                            </div>
                            <div class="jobDescription d-flex align-items-center" style="margin-top: 17px; margin-left: 3%; padding: 0px; font-style: normal; font-weight: 400; font-size: 14px; margin-right: 3%; color: rgb(100, 100, 100);">
                                <span style="font-size: 14px; font-weight: 400; color: rgb(50, 49, 48);">The Microsoft Silicon Engineering Solutions and Cloud Hardware Infrastructure Engineering (SCHIE) team is responsible for developing and delivering the hardware and firmware that is responsible for powering Microsoft’s “Intelligent Cloud” mission. SCHIE delive...</span>
                            </div>
                            <div class="d-flex" style="padding-top: 16px; padding-bottom: 3%; padding-left: 1%; min-width: 140px;">
                                <button id="jobDetailBtn" class="btn" style="font-style: normal; color: rgb(92, 27, 134); font-weight: 400; font-size: 14px; height: 20px; width: fit-content;">See Details</button>
                            </div>
                        </div>
                    </div>
                    <div class="listItem d-flex">
                        <div class="jobDetailHeading d-flex flex-column">
                            <div class="d-flex">
                                <div style="position: absolute; right: 0; margin-top: 2%; margin-right: 3%; color: rgb(92, 27, 134); z-index: 1;">
                                    <img src="https://localhost:44376/Content/img/icons/save.png" style="width: 1.5rem; height: 1.5rem;" />
                                </div>
                                <h2 class="listItemHeading">Principal Software Engineer</h2>
                            </div>

                            <div class="listItemHeadingIcon d-flex">
                                <div class="d-flex flex-row">
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-clock-four" style="color: rgb(100, 100, 100); height: 14px; width: 14px;"></i>
                                        <span style="font-weight: 400; font-size: 14px; font-style: normal; color: rgb(23, 23, 23); margin-left: 5px;">Today</span>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-location" style="color: rgb(100, 100, 100); height: 14px; width: 14px;"></i>
                                        <span style="font-weight: 400; font-size: 14px; font-style: normal; color: rgb(23, 23, 23); margin-left: 5px;">Washington, United States</span>
                                    </div>
                                </div>
                            </div>
                            <div class="jobDescription d-flex align-items-center" style="margin-top: 17px; margin-left: 3%; padding: 0px; font-style: normal; font-weight: 400; font-size: 14px; margin-right: 3%; color: rgb(100, 100, 100);">
                                <span style="font-size: 14px; font-weight: 400; color: rgb(50, 49, 48);">The Microsoft Silicon Engineering Solutions and Cloud Hardware Infrastructure Engineering (SCHIE) team is responsible for developing and delivering the hardware and firmware that is responsible for powering Microsoft’s “Intelligent Cloud” mission. SCHIE delive...</span>
                            </div>
                            <div class="d-flex" style="padding-top: 16px; padding-bottom: 3%; padding-left: 1%; min-width: 140px;">
                                <button id="jobDetailBtn" class="btn" style="font-style: normal; color: rgb(92, 27, 134); font-weight: 400; font-size: 14px; height: 20px; width: fit-content;">See Details</button>
                            </div>
                        </div>
                    </div>
                    <div class="listItem d-flex">
                        <div class="jobDetailHeading d-flex flex-column">
                            <div class="d-flex">
                                <div style="position: absolute; right: 0; margin-top: 2%; margin-right: 3%; color: rgb(92, 27, 134); z-index: 1;">
                                    <img src="https://localhost:44376/Content/img/icons/save.png" style="width: 1.5rem; height: 1.5rem;" />
                                </div>
                                <h2 class="listItemHeading">Principal Software Engineer</h2>
                            </div>

                            <div class="listItemHeadingIcon d-flex">
                                <div class="d-flex flex-row">
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-clock-four" style="color: rgb(100, 100, 100); height: 14px; width: 14px;"></i>
                                        <span style="font-weight: 400; font-size: 14px; font-style: normal; color: rgb(23, 23, 23); margin-left: 5px;">Today</span>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-location" style="color: rgb(100, 100, 100); height: 14px; width: 14px;"></i>
                                        <span style="font-weight: 400; font-size: 14px; font-style: normal; color: rgb(23, 23, 23); margin-left: 5px;">Washington, United States</span>
                                    </div>
                                </div>
                            </div>
                            <div class="jobDescription d-flex align-items-center" style="margin-top: 17px; margin-left: 3%; padding: 0px; font-style: normal; font-weight: 400; font-size: 14px; margin-right: 3%; color: rgb(100, 100, 100);">
                                <span style="font-size: 14px; font-weight: 400; color: rgb(50, 49, 48);">The Microsoft Silicon Engineering Solutions and Cloud Hardware Infrastructure Engineering (SCHIE) team is responsible for developing and delivering the hardware and firmware that is responsible for powering Microsoft’s “Intelligent Cloud” mission. SCHIE delive...</span>
                            </div>
                            <div class="d-flex" style="padding-top: 16px; padding-bottom: 3%; padding-left: 1%; min-width: 140px;">
                                <button id="jobDetailBtn" class="btn" style="font-style: normal; color: rgb(92, 27, 134); font-weight: 400; font-size: 14px; height: 20px; width: fit-content;">See Details</button>
                            </div>
                        </div>
                    </div>
                    <div class="listItem d-flex">
                        <div class="jobDetailHeading d-flex flex-column">
                            <div class="d-flex">
                                <div style="position: absolute; right: 0; margin-top: 2%; margin-right: 3%; color: rgb(92, 27, 134); z-index: 1;">
                                    <img src="https://localhost:44376/Content/img/icons/save.png" style="width: 1.5rem; height: 1.5rem;" />
                                </div>
                                <h2 class="listItemHeading">Principal Software Engineer</h2>
                            </div>

                            <div class="listItemHeadingIcon d-flex">
                                <div class="d-flex flex-row">
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-clock-four" style="color: rgb(100, 100, 100); height: 14px; width: 14px;"></i>
                                        <span style="font-weight: 400; font-size: 14px; font-style: normal; color: rgb(23, 23, 23); margin-left: 5px;">Today</span>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-location" style="color: rgb(100, 100, 100); height: 14px; width: 14px;"></i>
                                        <span style="font-weight: 400; font-size: 14px; font-style: normal; color: rgb(23, 23, 23); margin-left: 5px;">Washington, United States</span>
                                    </div>
                                </div>
                            </div>
                            <div class="jobDescription d-flex align-items-center" style="margin-top: 17px; margin-left: 3%; padding: 0px; font-style: normal; font-weight: 400; font-size: 14px; margin-right: 3%; color: rgb(100, 100, 100);">
                                <span style="font-size: 14px; font-weight: 400; color: rgb(50, 49, 48);">The Microsoft Silicon Engineering Solutions and Cloud Hardware Infrastructure Engineering (SCHIE) team is responsible for developing and delivering the hardware and firmware that is responsible for powering Microsoft’s “Intelligent Cloud” mission. SCHIE delive...</span>
                            </div>
                            <div class="d-flex" style="padding-top: 16px; padding-bottom: 3%; padding-left: 1%; min-width: 140px;">
                                <button id="jobDetailBtn" class="btn" style="font-style: normal; color: rgb(92, 27, 134); font-weight: 400; font-size: 14px; height: 20px; width: fit-content;">See Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="job-detail-wrapper" class="job-detail-wrapper d-flex align-items-center justify-content-center col-lg-7 col-md-12 col-sm-12">
            <input id="jobDetailContent" value="no" hidden />
            
        </div>
    </div>
</main>

<link href="~/Content/virtual-select.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/virtual-select.min.js"></script>
<script>
    VirtualSelect.init({
        ele: '#selCountries'
    });

    var jobDetailBtn = document.getElementById("jobDetailBtn");
    var jobContent = document.getElementById("jobDetailContent");
    let jobDetailWrapper = document.getElementById("job-detail-wrapper");

    jobDetailBtn.addEventListener("click", () => {
        jobDetailWrapper.innerHTML = `
            <div class="jobDetailContainer d-flex align-items-center" style="padding: 16px; margin-top: -1rem; box-shadow: 0px 1.6px 3.6px rgba(0,0,0,.132), 0px 0.3px 0.9px rgba(0,0,0,.108); border-radius: 2px;">
                <div class="d-flex flex-column justify-content-start col-12" style="margin: 0; padding: 0; max-height: 720px; overflow-y: scroll; overflow-x: hidden;">
                     @Html.Partial("~/Views/Career/JobDetail.cshtml")
                </div>
            </div>

        `;
    });

    if (jobContent.value === "no") {
        jobDetailWrapper.innerHTML = `
            <div class="d-flex flex-column align-content-center justify-content-center">
                <img src="https://localhost:44376/Content/img/icons/paper.png" style="width: 230px; height: 230px" />
                <h1 class="d-flex align-items-center justify-content-center mt-3" style="color: rgb(50, 49, 48); font-weight: 600; font-size: 26px;">Select a job</h1>
                <span class="d-flex align-items-center justify-content-center">Mothing is selected</span>
            </div>
        `;
    }
</script>